header {
    text-align: center;
}

#iceCreamStores {
    list-style-type: none;
}

.newIceCreamStoreButton {
    padding: 20px;
}

img  {
    height: auto;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}